# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
llama-2-7b-chat.Q2_K.gguf
# Virtual environment folder
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs and editors
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and databases
*.log
*.sqlite3
